body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

:root {
  --blue-color: #00acdc;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  display: block;
  height: 40px;
  width: 40px;
}

.nav {
  margin-left: auto;
}

.ul-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.li-nav {
  margin-right: 20px;
}

.li-nav:last-child {
  margin-right: 0;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--blue-color);
}

.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 8px;
  width: 100%;
}

.is-active:hover::after {
  width: 100%;
}

.is-active {
  color: var(--blue-color);
}
